.map {
   /* margin-right: 5rem; */
   background-attachment: fixed;
   background-size: cover;
   background-position: top;
   width: 40rem;
   height: 25rem;
   background-color: var(--main-bg-color);
}
