.title {
   width: 30%;
   position: absolute;
}

.Flex_Container {
   display: flex;
   width: fit-content;
   height: fit-content;
   justify-content: center;
   align-items: flex-start;
}

.Outer_Container {
   width: 70%;
   display: inline-flex;
   flex-wrap: wrap;
   padding: 0%;
   margin: 0%;
   margin-top: 4rem;
   justify-content: space-between;
}

.Inner_Container {
   display: flex;
   flex-direction: column;
   align-self: center;
   width: 100%
}

.timeStr {
   font-size: 4rem;
}

.temperature {
   align-self: flex-end;
   justify-self: center;
   color: red
}

.btnBack {
   margin-top: 3rem;
   border: none;
   outline: none;
   color: var(--main-bg-color);
   background-color: var(--main-txt-color);
}

.btnNext {
   margin-top: 3rem;
   border: none;
   outline: none;
   color: var(--main-txt-color);
   background-color: var(--main-bg-color);
}
