.title {
   width: 50%;
   position: absolute;
}

.Outer_Container {
   width: 50%;
   display: inline-flex;
   flex-wrap: wrap;
   padding: 0%;
   margin: 0%;
   margin-top: 4rem;
   justify-content: space-between;
}

.Inner_Container {
   display: flex;
   flex-direction: column;
   align-self: center;
   width: 40rem;
}

.timeStr {
   font-size: 4rem;
}

.temperature {
   align-self: flex-end;
   justify-self: center;
   color: red
}

.btn {
   border: none;
   outline: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: blue;
   background-color: hsl(0, 0%, 92%);
}

.btn:hover {
   background-color: hsl(0, 11%, 68%);
}

