.coordsStr {
   display: flex;
   justify-content: center;
}
.Weather_Container {
   align-self: center;
   background-color: transparent;
   width: 70vw;
}

.OuterWeather_Container {
   display: flex;
   justify-content: center;
   background-color: transparent;
   width: 100vw;
}

.Weather_Container li :not(li):not(label) {
   background-color: #242f40;
}

.Name {
   color: yellow;
}

.Temperature {
   color: red;
}
.Wind {
   color: #ffffff;
}

.sc-bdvvaa .bSWeAW .rec .rec-arrow .rec .rec-arrow-right {
   background-color: #cca43b;
}
