.FormBody {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 67vh;
   height: 20vw;
   background-color: #b1ddfe;
   border: #001728 solid 1px;
}

.Title {
   position: absolute;
   display: flex;
   margin-top: -10vh;
   margin-left: 12vmax;
}

.Form {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
}

#red {
   color: red;
}

.Errors {
   position: relative;
   align-self: flex-end;
   justify-self: flex-end;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 70%;
   width: 35%;
   flex-wrap: wrap;

}

.Items {
   display: flex;
   position: fixed;
   list-style-type: none;
   flex-direction: column;
}
.Items li {
   color: #f2f9ff;
   line-height: 18px;
   font-size: 16px;
   text-shadow: #0888eb;
}

.InputFields_Container {
   display: block;
   margin: 10px 0 5px 0;
   background-color: #001728;
}

#Demo {
   background-color: transparent;
   color: white;
}
#Demo:hover {
   background-color: white;
   color: #003359;
}

.TextField {
   padding: 10px;
   text-indent: 10px;
   border-color: #001728;
   border-top-right-radius: 30%;
}
.TextField:focus {
   text-indent: 5px;
   border-top-right-radius: 5%;
}

.Buttons {
   line-height: 20px;
}

.SignUp {
   margin-top: 10px;
   margin-left: 2vw;

}
.SignUp a {
   color: #003359;
   text-decoration: none;
   background-color: rgb(255, 255, 255);
   padding: 5px;
}

.SignUp a:hover {
   background-color: #003359;
   color: white;
}
