#modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-background {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal span {
  display: flex;
  justify-content: center;
}
#modal button {
  margin-top: 10px;
}

#modal-inner-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  height: 80%;
  width: 80%;
  background-color: transparent;
}

.login-errors li {
  z-index: 7;
  line-height: 14px;
}
.login-errors {
  z-index: 7;
}
