#Outer_Container {
   display: flex;
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
}
#Inner_Container {
   display: flex;
   width: 100vw;
   height: 100vh;
   background-color: transparent;
   align-items: center;
   flex-direction: column;
}
#Inner_Container h1 {
   cursor:none;
}

.Li_Container li {
   width: 100%;
   list-style-type: none;
   display: flex;
   padding: 10px;
   justify-content: space-between;
}

.Li_Container label {
   margin-right: 10vw;

}
.Li_Container a {
   display: flex;
   align-self: flex-start;
   word-wrap: break-word;
   text-decoration: none;
   color: #ffffff;
}
.Li_Container a:hover {
   flex-grow: 30%;
}
