.outerContainer {
   display: block;
}

.innerContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   color: #e5e5e5;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
