@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.Main_NavBar {
   font-family: "Montserrat", sans-serif;
   box-sizing: border-box;
   font-size: 1rem;
   font-family: 'Open Sans';
   width: 100vw;
   height: 3rem;
}

.Main_NavBar>div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1rem 5rem 2rem 5rem
}

.Main_NavBar>div>a {
   text-decoration: none;
   color: var(--main-txt-color)
}

.Main_NavBar>div>button {
   font-size: 1rem;
   font-family: 'Open Sans';
   box-sizing: border-box;
   outline: none;
   border: none;
   color: var(--main-txt-color);
   background-color: var(--main-bg-color);
   padding: .1rem;
   width: 20%;
   height: 120%;
}

.Main_NavBar>div>button:hover {
   color: var(--main-bg-color);
   background-color: var(--main-txt-color);
}

.spacer {
   width: 20rem;
}
