@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.Main_NavBar {
   font-family: "Montserrat", sans-serif;
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Open Sans';
   --text-primary:#b6b6b6;
   --text-secondary: #ececec;
   --bg-primary: #23232e;
   --bg-secondary: #141418;
   width: 100vw;
   height: 2vh;
}

.Main_NavBar > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1rem 5rem 2rem 5rem
}

.Main_NavBar > div > a {
   text-decoration: none;
   color: white
}

.Main_NavBar > div > button {

}
.Main_NavBar > div > button:hover {

}

.spacer {
   width: 20rem;
}
